.btn {
  display: inline-block;
  padding: 22px 47px;

  background: $accent;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;

  transition: all 0.3s linear;

  &:hover {
    background: #cc4949;
  }

  &--sm {
    padding: 17px 47px;
  }

  &--sec {
    background: $text;

    &:hover {
      background: #31343c;
    }
  }
}
