.contacts {
  padding: 60px 0;
  background: #f3f7f6;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint(1100px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 100px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    margin-bottom: 60px;

    @include breakpoint(768px) {
      font-size: 26px;

      margin-bottom: 40px;
    }
    @include breakpoint(480px) {
      font-size: 24px;

      margin-bottom: 30px;
    }
  }

  &__addres {
    display: flex;
    flex-direction: column;

    margin-bottom: 40px;

    @include breakpoint(768px) {
      margin-bottom: 30px;
    }
    @include breakpoint(480px) {
      margin-bottom: 20px;
    }
  }

  &__department {
    display: flex;
    gap: 5px;

    font-size: 14px;
    line-height: 140%;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $gray;

    margin-bottom: 40px;

    @include breakpoint(768px) {
      margin-bottom: 30px;
    }
    @include breakpoint(480px) {
      margin-bottom: 20px;
    }
  }

  &__tel {
    font-size: 30px;

    color: $text;

    margin-bottom: 10px;
  }

  &__location {
    font-size: 18px;
  }

  &__social {
    display: flex;
    align-items: center;

    gap: 20px;

    & svg {
      &:hover {
        & circle {
          fill: #fff;
        }

        & path {
          fill: #fff;
        }

        & path:nth-child(2) {
          fill: $text;
        }
      }
    }

    & svg circle {
      transition: all 0.3s linear;
    }

    & svg path {
      transition: all 0.3s linear;
    }
  }

  &__map {
    max-width: 680px;
    height: 500px;
    width: 100%;

    @include breakpoint(1100px) {
      max-width: 100%;
    }
  }
}
