<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>

      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="list__item">
            <a data-goto=".catalog" href="" class="nav__link scroll">Каталог</a>
          </li>
          <li class="list__item">
            <a data-goto=".about" href="" class="nav__link scroll">О нас</a>
          </li>
          <li class="list__item">
            <a data-goto=".quiz" href="" class="nav__link scroll">Подбор товара</a>
          </li>
          <li class="list__item">
            <a data-goto=".team" href="" class="nav__link scroll">Наша команда</a>
          </li>
          <li class="list__item">
            <a data-goto=".faq" href="" class="nav__link scroll">Доставка и оплата</a>
          </li>
          <li class="list__item">
            <a data-goto=".contacts" href="" class="nav__link scroll">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- footer__inner -->
  </div>
  <!-- container -->
</footer>
<!-- footer -->
