<meta charset="UTF-8" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap"
  rel="stylesheet"
/>

<!-- Marquiz script start -->
<script>
  ;(function (w, d, s, o) {
    var j = d.createElement(s)
    j.async = true
    j.src = '//script.marquiz.ru/v2.js'
    j.onload = function () {
      if (document.readyState !== 'loading') Marquiz.init(o)
      else
        document.addEventListener('DOMContentLoaded', function () {
          Marquiz.init(o)
        })
    }
    d.head.insertBefore(j, d.head.firstElementChild)
  })(window, document, 'script', {
    host: '//quiz.marquiz.ru',
    region: 'eu',
    id: '6279104e06d0ff004f3a0ed2',
    autoOpen: false,
    autoOpenFreq: 'once',
    openOnExit: false,
    disableOnMobile: false,
  })
</script>
<!-- Marquiz script end -->

<!-- Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- Yandex map -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=909d453a-d3bb-4a89-8bd4-c0bc8b49509a&lang=ru_RU"></script>

<!-- Css -->
<link rel="stylesheet" href="assets/css/style.min.css" />

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />

<title>{{ title }}</title>
