<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="list__item">
            <a data-goto=".catalog" href="" class="nav__link scroll">Каталог</a>
          </li>
          <li class="list__item">
            <a data-goto=".about" href="" class="nav__link scroll">О нас</a>
          </li>
          <li class="list__item">
            <a data-goto=".quiz" href="" class="nav__link scroll">Подбор товара</a>
          </li>
          <li class="list__item">
            <a data-goto=".team" href="" class="nav__link scroll">Наша команда</a>
          </li>
          <li class="list__item">
            <a data-goto=".faq" href="" class="nav__link scroll">Доставка и оплата</a>
          </li>
          <li class="list__item">
            <a data-goto=".contacts" href="" class="nav__link scroll">Контакты</a>
          </li>
          <li data-path="modal-cart" class="list__item cart modal-btn">
            <span class="nav__link">Корзина</span>
            <div class="cart__icon">
              <div class="cart__img">
                <img src="assets/images/header/cart.svg" alt="cart" />
              </div>
              <span class="cart__number">1</span>
            </div>
          </li>
        </ul>
      </nav>

      <div class="header__menu">
        <div class="menu__wrapper">
          <nav class="nav nav--mobile">
            <ul class="nav__list nav__list--mobile">
              <li class="list__item">
                <a data-goto=".catalog" href="" class="nav__link scroll">Каталог</a>
              </li>
              <li class="list__item">
                <a data-goto=".about" href="" class="nav__link scroll">О нас</a>
              </li>
              <li class="list__item">
                <a data-goto=".quiz" href="" class="nav__link scroll">Подбор товара</a>
              </li>
              <li class="list__item">
                <a data-goto=".team" href="" class="nav__link scroll">Наша команда</a>
              </li>
              <li class="list__item">
                <a data-goto=".faq" href="" class="nav__link scroll">Доставка и оплата</a>
              </li>
              <li class="list__item">
                <a data-goto=".contacts" href="" class="nav__link scroll">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header__icon">
        <span></span>
      </div>
    </div>
    <!-- header__inner -->
  </div>
  <!-- container -->
</header>
<!-- header -->
