<div data-target="modal-good" class="modal modal-good">
  <div class="modal-good__top">
    <div class="modal-good__left">
      <div class="swiper modal-good__slider-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="1" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="2" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="3" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="4" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="5" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="6" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="7" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/good-4k.jpg" alt="8" />
          </div>
        </div>
      </div>

      <div class="swiper modal-good__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="1" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="2" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="3" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="4" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="5" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="6" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="7" />
          </div>
          <div class="swiper-slide swiper-mini-slide">
            <img src="assets/images/good.png" alt="8" />
          </div>
        </div>
      </div>
    </div>

    <div class="modal-good__right">
      <div class="modal-good__head">
        <div class="modal-good__vendor-code">Артикул: <span>879876</span></div>
        <div class="modal-good__stock">В наличии: <strong>13 шт</strong></div>
      </div>
      <h3 class="modal-good__title">Женские кроссовки Puma Force 1 Shadow</h3>
      <div class="modal-good__rate">
        <div class="rate__items">
          <input checked id="rate__5" type="radio" class="rate__item" name="rate__item" value="5" />
          <label for="rate__5" class="rate__label"></label>
          <input id="rate__4" type="radio" class="rate__item" name="rate__item" value="4" />
          <label for="rate__4" class="rate__label"></label>
          <input id="rate__3" type="radio" class="rate__item" name="rate__item" value="3" />
          <label for="rate__3" class="rate__label"></label>
          <input id="rate__2" type="radio" class="rate__item" name="rate__item" value="2" />
          <label for="rate__2" class="rate__label"></label>
          <input id="rate__1" type="radio" class="rate__item" name="rate__item" value="1" />
          <label for="rate__1" class="rate__label"></label>
        </div>
      </div>

      <div class="modal-good__size">
        <h4 class="size__title">Выберите размер</h4>
        <ul class="size__list">
          <li class="size__item">
            <button class="size__option">36</button>
          </li>
          <li class="size__item">
            <button class="size__option">36</button>
          </li>
          <li class="size__item">
            <button class="size__option">36</button>
          </li>
          <li class="size__item">
            <button class="size__option">36</button>
          </li>
          <li class="size__item">
            <button class="size__option">36</button>
          </li>
        </ul>
      </div>

      <div class="modal-good__price">
        <span class="modal-good__price-current">19 789 ₽ </span>
        <span class="modal-good__price-old">20 578 ₽</span>
      </div>

      <button class="modal-good__btn btn">Заказать</button>

      <ul class="modal-good__benefits">
        <li class="benefits__item">Бесплатная доставка до двери</li>
        <li class="benefits__item">Оплата заказа при получении</li>
        <li class="benefits__item">Обмен в течении двух недель</li>
      </ul>
    </div>
  </div>

  <div class="modal-good__content">
    <div class="modal-good__descr">
      <h3 class="descr__title">Описание</h3>
      <p class="descr__text">
        Кроссовки Nike Blazer Mid '77 Vintage Suede с винтажной подошвой возрождают стиль
        баскетбольных моделей Nike прошлого, создавая впечатление, что они хранились в шкафу долгие
        годы.
      </p>
    </div>

    <div class="modal-good__characteristics">
      <h3 class="characteristics__title">Характеристики</h3>
      <ul class="characteristics__list">
        <li class="characteristics__item">Пол: Мужской</li>
        <li class="characteristics__item">Цвета: Разноцветный</li>
        <li class="characteristics__item">Состав: Кожа, текстиль, резина</li>
        <li class="characteristics__item">Страна: Вьетнам</li>
      </ul>
    </div>
  </div>

  <div class="modal-good__video">
    <iframe
      width="100%"
      height="456"
      src="https://www.youtube.com/embed/oH3tpbBdGaU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
