<div data-target="modal-order" class="modal modal-order">
  <div class="modal-order__top">
    <h3 class="modal-order__title">Оформление заказа</h3>
    <div class="modal-order__number">Заказ 3456 67</div>
  </div>

  <div class="modal-order__content">
    <div class="modal-order__amount">Товаров в заказе: <strong>3 шт</strong></div>
    <div class="modal-order__total-price">Общая сумма заказа: <strong>25 789 ₽</strong></div>
    <details class="modal-order__details">
      <summary class="modal-order__summary">Состав заказа</summary>
      <ul class="modal-cart__list">
        <li class="list__item">
          <div class="list__img">
            <img src="assets/images/good.png" alt="good" />
          </div>
          <div class="list__details">
            <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
            <span class="list__price">8 789 ₽ </span>
          </div>
          <button class="list__trash">
            <img src="assets/images/trash.svg" alt="delete" />
          </button>
        </li>
        <li class="list__item">
          <div class="list__img">
            <img src="assets/images/good.png" alt="good" />
          </div>
          <div class="list__details">
            <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
            <span class="list__price">8 789 ₽ </span>
          </div>
          <button class="list__trash">
            <img src="assets/images/trash.svg" alt="delete" />
          </button>
        </li>
        <li class="list__item">
          <div class="list__img">
            <img src="assets/images/good.png" alt="good" />
          </div>
          <div class="list__details">
            <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
            <span class="list__price">8 789 ₽ </span>
          </div>
          <button class="list__trash">
            <img src="assets/images/trash.svg" alt="delete" />
          </button>
        </li>
    </details>
  </div>

  <form action="" class="modal-order__form">
    <input placeholder="Ваше имя" type="text" class="modal-order__input input">
    <input placeholder="Номер телефона" type="tel" class="modal-order__input input">
    <input placeholder="E-mail" type="email" class="modal-order__input input">

    <button type="submit" class="modal-order__btn btn">Оформить заказ</button>

  </form>
</div>
