<div data-target="modal-cart" class="modal modal-cart">
  <ul class="modal-cart__list">
    <li class="list__item">
      <div class="list__img">
        <img src="assets/images/good.png" alt="good" />
      </div>
      <div class="list__details">
        <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
        <span class="list__price">8 789 ₽ </span>
      </div>
      <button class="list__trash">
        <img src="assets/images/trash.svg" alt="delete" />
      </button>
    </li>
    <li class="list__item">
      <div class="list__img">
        <img src="assets/images/good.png" alt="good" />
      </div>
      <div class="list__details">
        <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
        <span class="list__price">8 789 ₽ </span>
      </div>
      <button class="list__trash">
        <img src="assets/images/trash.svg" alt="delete" />
      </button>
    </li>
    <li class="list__item">
      <div class="list__img">
        <img src="assets/images/good.png" alt="good" />
      </div>
      <div class="list__details">
        <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
        <span class="list__price">8 789 ₽ </span>
      </div>
      <button class="list__trash">
        <img src="assets/images/trash.svg" alt="delete" />
      </button>
    </li>
    <li class="list__item">
      <div class="list__img">
        <img src="assets/images/good.png" alt="good" />
      </div>
      <div class="list__details">
        <h4 class="list__name">Женские кроссовки Puma Force 1 Shadow</h4>
        <span class="list__price">8 789 ₽ </span>
      </div>
      <button class="list__trash">
        <img src="assets/images/trash.svg" alt="delete" />
      </button>
    </li>
  </ul>

  <div class="modal-cart__bottom">
    <div class="modal-cart__left">
      <div class="modal-cart__total">Итого:</div>
      <span class="modal-cart__total-price">25 789 ₽</span>
    </div>

    <button data-path="modal-order" class="modal-cart__btn btn btn--sm modal-btn">
      Перейти в корзину
    </button>
  </div>
</div>
